version: "3.8"

services:
  backend:
    build:
      context: ./backend
    volumes:
      - ./models:/app/models
    ports:
      - "8000:8000"
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
    ports:
      - "7860:7860"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
